#home{
    background-image: url('../Assets/5.gif');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
   
} 
section{
 background-color: rgba(0,0,0,0.2); 
       height: 100%;
       padding-left: 2rem; 
       padding-right: 2rem;
       padding-top:2rem ;
       width:35% ;
       border-radius: 5px;
    }

.cube{
color:orange ;
        
}

h1{
font-family: cursive;
text-align: center;
color: beige;
font-size: 70px;
margin-top: 10%;
        
}
   h2{
font-family: cursive;
text-align: center;
color: beige;
font-size: 70px;
margin-top: 10%;
        
}
.button{
        width: 100%;
}


.play-button{
    font-family: cursive;
background-color: rgb(201, 181, 69);
color: beige;
cursor:pointer ;
padding: 1rem;
width: 70%;
border-radius: 30px;
margin-top: 10%;
}


.play-button:hover{
background-color:rgb(170, 140, 43);
box-shadow: 0 2px 2px 0 rgb(0, 0, 0,0.14),0 3px 1px -2px rgb(0, 0, 0,0.12), 0 1px 5px 0 rgb(0, 0, 0,0.2);
}

.auth-container{
        font-family: cursive;
        width: 100%;
        display: flex;
        justify-content: space-between;
}



.Login-button{
background-color:#66A5AD;
color: beige;
cursor:pointer ;
padding: 1rem 0;
width: 45%;
border-radius: 30px;
margin-top: 10%;
}



.Register-button{
background-color: rgb(94, 93, 77);
color: beige;
border-radius: 30px;
cursor:pointer ;
padding: 1rem 0;
width: 45%;
margin-top: 10%;
}
.Register-button:hover{
    background-color: rgb(66, 65, 56);
    box-shadow: 0 2px 2px 0 rgb(0, 0, 0,0.14),0 3px 1px -2px rgb(0, 0, 0,0.12), 0 1px 5px 0 rgb(0, 0, 0,0.2);
}
.Login-button:hover{
    background-color:#4b949ec5;
    box-shadow: 0 2px 2px 0 rgb(0, 0, 0,0.14),0 3px 1px -2px rgb(0, 0, 0,0.12), 0 1px 5px 0 rgb(0, 0, 0,0.2);
}
.a{
  color: beige;
}
a:hover {
  color: rgb(228, 139, 56);
}
@media(max-width:768px){
#home section {
    padding: 0 1rem;
    width: 100%;
    height: 100%;
}  

}














/*.container {
   padding: 10px 50px 20px;
font-size: 24pt;
  text-align: center;
  
}

.child {
   
  width: 50px;
  height: 50px;
 font-size: 24pt;
 
  position: absolute;
  top: 10%;
  left: 50%;
  margin: -25px 0 0 -25px;
 }
.bouton {
    width:150px;
line-height:50px;
text-align:center;
}
div.bouton-aligne{
	display:inline-block;
	width:45%;
	margin:10px 2.5% 10px 2.5%;
	text-align:center;
}*/